<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
    <link rel="shortcut icon" type="image/png" href="https://animaproject.s3.amazonaws.com/home/favicon.png"/>
    <meta name="og:type" content="website"/>
    <meta name="twitter:card" content="photo"/>
    <link rel="stylesheet" type="text/css" href="../static/css/log-in.css"/>
    <link rel="stylesheet" type="text/css" href="../static/css/styleguide.css"/>
    <link rel="stylesheet" type="text/css" href="../static/css/globals.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body style="margin: 0; background: #ffffff">
<input type="hidden" id="anPageName" name="page" value="log-in"/>
<div class="container-center-horizontal">
    <div class="log-in screen">
        <div class="status-bar">
            <div class="time sfprotext-normal-black-15px">9:27</div>
            <div class="connections">
                <img class="icon-bar_chart" src="../static/img/cellular-connection@2x.svg"/>
                <img class="wifi" src="../static/img/wifi@2x.svg"/>
                <div class="battery">
                    <div class="overlap-group border-1px-black-2">
                        <div class="capacity"></div>
                    </div>
                    <img class="cap" src="../static/img/cap@2x.svg"/>
                </div>
            </div>
        </div>
        <div class="image-container">
            <img class="image-2" src="../static/img/image-2@1x.png"/>
            <img class="image-2-1" src="../static/img/image-2-1@2x.png"/>
        </div>
        <a href="/home" class="align-self-flex-center">
            <div class="button">
                <div class="log-in-1 valign-text-middle">START</div>
            </div>
        </a>
    </div>
</div>
</body>
</html>
